<!-- <div *ngIf="requiredExtensions && this.requiredExtensions.length > 0" role="alert" (click)="listInstalledExtensions()">            
        <busy-state>
            <div class="highlight" >                                
                <span>
                    List the extensions that needs to be installed or are used
                </span>
                <ul>
                    <li *ngFor="let nugetPackage of packages">
                        {{nugetPackage.name}}
                    </li>
                </ul>                        
                <button class="custom-button" click="installExtensionPackages()">
                    Install
                </button>
            </div>
        </busy-state>
    </div> -->
<button>Install</button>